@model IEnumerable<Funcionario>

@{
    ViewData["Title"] = "Lista de Funcionarios";
}

<h1>@ViewData["Title"]</h1>
<br/>
<p>
    <a asp-action="Create" class="btn btn-primary">Adicionar novo funcionario</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.First().Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().NomeCompleto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.First().Funcao)
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var funcionario in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => funcionario.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => funcionario.NomeCompleto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => funcionario.Funcao)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@funcionario.Id" class="btn btn-warning">Editar</a>
                </td>
                <td>
                    <a asp-action="Delete" asp-route-id="@funcionario.Id" class="btn btn-danger">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>

